body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #141414;
  max-width: 1028px;
  
}

.movie-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem 1rem;
  width: 200px;
  height: 350px;

}
a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.saved-list {
  border: 0;
  color: #D6D6D6;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
  color: white;
}
.saved-active {
  padding: 5px;
}
.save-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  margin: 50px auto;
}
.save-button{
  width: 100%;
}
.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.movie-warning {
  color: red;
  text-align: center;
}

.home-button{
  text-align: center;
}
h6 .home{
  color: white;
  display: flex;
  justify-content: center;
}
div header .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}